@import '../../assests/styles/mixins.scss';

.header {
    @include main;
    background: #1675e0;
    &__container {
        @include container;
        height: 70px;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        color: #fff;
        font-size: 25px;
    }
}